{% extends 'base.html'%}
{% block title %}
<title>หน้าแรกนะ</title>
{% endblock title %}

{% block content %}

้<h5 class="center">รายชื่อนักเรียน</h5>
<table class="highlight centered">
    <thead>
        <tr>
            <th>ชื่อและนามสกุล</th>
            <th>อายุ</th>
            <th>สถานะ</th>
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <td>{{i["ชื่อ"]}}</td>
            <td>{{i["อายุ"]}}</td>
            <td>{{i["สถานะ"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}