{% extends 'base.html'%} {% block title %}
<title>แก้ไขรายชื่อ</title>
{% endblock title %} {% block content %}



<div class="row" style="padding: 20px">

    <form action="/แก้ไขรายชื่อ?update={{data[0][0]}}" method="POST" class="col s12">
        <div class="input-field col s12">
            <input name="First_Last" placeholder=" " value="{{data[0][1]}}" id="first_name" type="text"
                class="validate" />
            <label for="first_name">ชื่อและนามสกุล</label>
        </div>
        <div class="input-field col s6">
            <input id="age" name="Age" placeholder=" " value="{{data[0][2]}}" type="number" class="validate" />
            <label for="age">อายุ</label>
        </div>
        <div class="input-field col s12">
            <input name="Status" placeholder=" " id="Status" value="{{data[0][3]}}" type="text" class="validate" />
            <label for="Status">สถานะ</label>
        </div>
        <center>
            <div style="padding: 20px">
                <button class="btn">แก้ไขรายชื่อ</button>
            </div>
        </center>
    </form>
</div>


{% endblock %}